.inner-header-review {
    background: rgba(0, 0, 0, 0) url("../images/review/r1.jpeg") repeat scroll center top / 100% auto;
    position: relative;
}
.inner-header-review::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
}
.inner-header-review .container {
    position: relative;
    z-index: 9;
}